@charset "UTF-8";

/* MOBILE FIRST */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body, html {
    width: 100vw;
    height: 100vh;
    background-color: #F0F8FF;
}

main {
    display: flex;
    justify-content: center;
}

/* ----> TELA DE LOGIN <---- */

#login, #cadastro-oficina {
    width: 80%;
}

.formulario > h1 {
    padding-top: 10px;
    text-align: center;
}

div.campo > label,input {
    padding: 2px;
    width: 100%;
}

div#icone-educa {
    background: url(static/svg/education-animate.svg) no-repeat;
    height: 250px;
    background-size: cover;
    width: 100%;
    background-position: center;
}

form > input[type=submit] {
    margin-top: 5px;
    border: none;
    background: #007ec1;
    color: #F0F8FF;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background: #006aa3;
}

/* ----> TELA DE CADASTRO OFICINAS <---- */

input, select {
    border-radius: 2px;
    border-width: 1px;
}

fieldset.grupo {
    border: 0;
}

button.cadastro {
    border: 0;
    background-color: #007ec1;
    color: #F0F8FF;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

select {
    width: 100%;
}

button.cadastro:hover {
    background: #006aa3;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

.campo input:focus, .campo select:focus {
    border-color: rgb(255, 228, 78);
}

.campo input[type="text"], .campo input[type="number"], .campo select, button{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.grupo:before, .grupo:after {
    display: table;
    
}

.grupo:after {
    clear: both;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container div {
    margin: 10px;
}

.container div label {
    cursor: pointer;
}

.container div label input[type="checkbox"] {
    display: none;
}

.container div label span {
    position: relative;
    display: inline-block;
    background: gray;
    color: #3f3f3f;
    padding: 10px 10px ;
    border-radius: 10px;
    transition: all 0.5;
    user-select: none;
    overflow: hidden;
}

.container div label input[type="checkbox"]:checked ~ span {
    color: #F0F8FF;
    background: #007ec1;
}

/* ----> Tela cadastro + <---- */

main#cadastrar-plus {
    height: 80vh;
}

main#cadastrar-plus section { 
    height: 100%; 
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

button.cadastrar-plus {
    margin: 10px;
    border: 0;
    background-color: #007ec1;
    color: #F0F8FF;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    cursor: pointer;
}

button.cadastrar-plus a {
    color: #F0F8FF;
    text-decoration: none;
    font-size: 20px;
}